@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap");

body {
  background-color: #f6f6fc !important;
}

body,
html {
  p,
  span,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a,
  button {
    font-family: "Inter", sans-serif;
  }

  .trends {
    overflow: scroll;
    white-space: nowrap;

    div.trendcard {
      display: inline-block;
      margin-right: 14px;
      background: #ffffff 0% 0% no-repeat padding-box;
      box-shadow: 0px 5px 17px #978bef0a;
      border-radius: 22px;
      padding: 19px 19px 4px 19px;
      width: 230px;
      text-align: center;

      .trendact {
        p {
          font-weight: bold;
        }

        div {
          a {
            span {
              font-size: 9px;
            }
          }
        }
      }

      .posterimg {
        border-radius: 14px;
        width: 100%;
        margin: 0 auto;
        height: 268px;
        margin-bottom: 16px;
        background-color: #cecece;
        background-size: cover;
        background-position: center;
      }
    }
  }

  .btn-custom {
    background: #978bef;
    color: white;
    border-radius: 7px;
  }

  .movielist {
    overflow-y: scroll;
    div {
      width: 100%;
      // height: 150px;
    }

    .movierow {
      .col-4 {
        padding-right: 0px;
        margin-bottom: 13px;
      }
    }

    .moviecard {
      border-radius: 7px;
      background-color: #eee;
      background-position: center;
      background-size: cover;
    }
  }

  .bottomcard {
    background: white;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 20px 0px;
    z-index: 99;

    .bottomNav {
      display: inline-block;
      width: 25%;
      text-align: center;

      .active {
        .navitemm {
          p,
          svg {
            color: #978bef;
          }
        }
      }

      .navitemm {
        .navicon {
          margin-bottom: 5px;
        }

        svg {
          color: #8f9bb5;
        }

        p {
          color: #8f9bb5;
          font-size: 11px;
          margin: 0px;
          margin-top: 4px;
          font-weight: normal;
        }
      }
    }
  }

  .movieacct {
    display: block;
    text-align: center;

    span {
      margin-top: 6px;
      font-size: 10px;
    }
  }

  .moviepreview {
    background: #dfdfdf;
    background-size: cover !important;
    background-position: center !important;
    height: 250px;
    margin-bottom: 27px;
    text-align: center;
    position: relative;

    .playdiv {
      position: absolute;
      width: 100%;
      top: 31%;

      .playicon {
        color: white;
        background: #00000065;
        width: 80px;
        height: 80px;
        display: inline-block;
        border-radius: 59px;
        line-height: 2.1;
        font-size: 34px;
        border: 4px solid white;
        padding-left: 10px;
      }
    }
  }

  .searchinput {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 17px #978bef0a;
    border-radius: 7px;

    div {
      span {
        border: 0px;
      }
    }

    input {
      border: 0px;
    }
  }

  .searchcard {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 17px #978bef0a;
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 10px;

    .mvdesc {
      font-size: 10px;
    }

    .posterimg {
      border-radius: 6px;
      width: 100%;
      margin: 0 auto;
      height: 138px;
      background-color: #cecece;
      background-size: cover;
      background-position: center;
    }
  }

  .filesizep {
    position: absolute;
    bottom: 0;
  }

  .mvrating {
    span {
      font-size: 12px;
      color: #dbc200;
      margin-right: 4px;
    }
  }
  .mvView {
    position: relative;
    .voteAvg {
      position: absolute;
      right: 0px;
      font-weight: bold;
      color: black;
      background: #ffffff8a;
      font-size: 13px;
      padding: 8px;
      border-top-right-radius: 14px;
    }
    .posterGrp {
      position: relative;
      min-height: 285px;
      .frontImg {
        position: absolute;
        z-index: 99;
        top: 0px;
      }
      .backBlur {
        position: absolute;
        top: 16px;
        filter: blur(11px);
        width: 90% !important;
        left: 5%;
        opacity: 0.7;
        border-radius: 38px !important;
      }
    }
  }
  .releaseDate {
    font-size: 11px;
    text-align: left;
    display: inline-block;
    padding: 2px 8px;
    border-radius: 4px;
    background: #978bee;
    color: white;
    margin-bottom: 0px;
  }
  .theatrelease {
    display: inline-block;
    margin-right: 14px;
    width: 300px;
    text-align: center;
    .posterimg {
      border-radius: 14px;
      width: 100%;
      margin: 0 auto;
      height: 165px;
      margin-bottom: 16px;
      background-color: #cecece;
      background-size: cover;
      background-position: center;
    }
  }
  .theatt {
    position: relative;
    p {
      position: absolute;
      bottom: 0px;
      font-weight: bold;
      color: white;
      background: #00000094;
      font-size: 14px;
      padding: 4px 15px;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
    }
  }
  .mvYear {
    font-size: 10px;
    border: 1px solid #978aed;
    padding: 2px 6px;
    display: inline-block;
    border-radius: 4px;
    font-weight: bold;
    color: #9889ec;
  }
  .tabsSection {
    .nav-wrapper {
      padding-bottom: 0px;
      .nav-pills .nav-link {
        border-radius: 0px;
        padding-left: 8px !important;
        box-shadow: 0px 0px;
        background-color: transparent;
        border-top: 2px solid gainsboro;
        color: black;
        opacity: 0.4;
        div {
          text-align: left;
        }
      }
      .nav-fill .nav-item {
        flex: 0 1 auto;
        margin-bottom: 7px;
      }
      .nav-pills .nav-link.active,
      .nav-pills .show > .nav-link {
        opacity: 1;
        color: #000;
        background-color: transparent;
        border-color: #978bee;
      }
    }
  }
  .demarc {
    height: 300px;
  }
  .sharePopUp {
    bottom: 0;
    background: #000000d4;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 999;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.7, 0.02, 0.17, 0.92);
    transition-delay: 0s;
    &.hideShare {
      bottom: -100% !important;
    }
  }
  .closePop {
    background: white;
    padding: 18px;
    color: black;
    box-shadow: -3px 3px 9px 0px #000000de;
    border-radius: 40px;
  }
  .closePopDiv {
    position: absolute;
    bottom: 100px;
    text-align: center;
    width: 100%;
  }
  .moviecard {
    height: 150px;
  }
}
