@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');

body {
    background-color: #F6F6FC !important;
}


body,
html {

    p,
    span,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    a,
    button {
        font-family: 'Inter', sans-serif;
    }


    .trends {
        overflow: scroll;
        white-space: nowrap;

        div.trendcard {
            display: inline-block;
            margin-right: 14px;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            box-shadow: 0px 5px 17px #978BEF0A;
            border-radius: 22px;
            padding: 19px;
            width: 230px;
            text-align: center;

            .trendact {
                p {
                    font-weight: bold;
                }

                div {
                    a {
                        span {
                            font-size: 9px;
                        }
                    }
                }
            }

            .posterimg {
                border-radius: 14px;
                width: 100%;
                margin: 0 auto;
                height: 268px;
                margin-bottom: 16px;
                background-color: #cecece;
                background-size: cover;
                background-position: center;
            }
        }
    }

    .btn-custom {
        background: #978BEF;
        color: white;
        border-radius: 7px;
    }

    .movielist {
        div {
            width: 100%;
            height: 150px;
        }

        .movierow {
            .col-4 {
                padding-right: 0px;
                margin-bottom: 13px;
            }
        }

        .moviecard {
            border-radius: 7px;
            background-color: #eee;
            background-position: center;
            background-size: cover;
        }
    }

    .bottomcard {
        background: white;
        position: fixed;
        width: 100%;
        bottom: 0;
        padding: 20px 0px;
        z-index: 99;

        .bottomNav {
            display: inline-block;
            width: 25%;
            text-align: center;

            .active {
                .navitemm {

                    p,
                    svg {
                        color: #978BEF;
                    }
                }
            }

            .navitemm {
                .navicon {
                    margin-bottom: 5px;
                }

                svg {
                    color: #8f9bb5;
                }

                p {
                    color: #8f9bb5;
                    font-size: 11px;
                    margin: 0px;
                    margin-top: 4px;
                    font-weight: normal;
                }
            }
        }
    }

    .movieacct {
        display: block;
        text-align: center;

        span {
            margin-top: 6px;
            font-size: 10px;
        }
    }

    .moviepreview {
        background: #dfdfdf;
        background-size: cover !important;
        background-position: center;
        height: 250px;
        margin-bottom: 27px;
        text-align: center;
        position: relative;

        .playdiv {
            position: absolute;
            width: 100%;
            top: 31%;

            .playicon {
                color: white;
                background: #00000065;
                width: 80px;
                height: 80px;
                display: inline-block;
                border-radius: 59px;
                line-height: 2.1;
                font-size: 34px;
                border: 4px solid white;
                padding-left: 10px;
            }
        }
    }

    .searchinput {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 5px 17px #978BEF0A;
        border-radius: 7px;

        div {
            span {
                border: 0px;
            }
        }

        input {
            border: 0px;
        }
    }

    .searchcard {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 5px 17px #978BEF0A;
        border-radius: 8px;
        padding: 12px;
        margin-bottom: 10px;

        .mvdesc {
            font-size: 10px;
        }

        .posterimg {
            border-radius: 6px;
            width: 100%;
            margin: 0 auto;
            height: 138px;
            background-color: #cecece;
            background-size: cover;
            background-position: center;
        }
    }

    .filesizep {
        position: absolute;
        bottom: 0;
    }

    .mvrating {
        span {
            font-size: 12px;
            color: #DBC200;
            margin-right: 4px;
        }
    }
}